{% extends "layout.html" %}
{% block content %}
<h1>Spielplan & Kartenkauf</h1>
    {% for op in opera %}
       <h3>{{ op.title }}</h3>
        <ul class="list-group">
        {% for s in show %}
            {% if s.opera == op.id %}
            <li class="list-group-item">
                <p>Datum & Uhrzeit: {{ s.show_date }}</p>
                <p>Sprache: {{ s.language }}</p>
                <pre>{{ op.body }}</pre>
                <form>
                    <div class="group-list mb-2" align="right"> #add form.show(show.id)
                    <button class="btn btn-outline-success" onclick="reservation">Karte kaufen</button>
                    </div>
                </form>
            </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
            </ul>
{% endblock content %}
