{% extends "layout.html" %}
{% block content %}
<h1>Spielplan & Kartenkauf</h1>
<form method="post">
    {{ form.hidden_tag() }}
    {% for op in opera %}
    <div class="accordion" id="accordion">
  <div class="accordion-item">
    <h3 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{ op.title }}
      </button>
    </h3>
      <div id="collapseOne" class="accordion-collapse collapse hide" aria-labelledby="headingOne" data-bs-parent="accordion">
      <div class="accordion-body">
          <pre>{{ op.body }}</pre>
          {% for s in show %}
            {% if s.opera == op.id %}
             <h5>Datum & Uhrzeit: {{ s.show_date.strftime("%Y-%m-%d, %H:%M") }}</h5>
                <h6>Sprache: {{ s.language }}</h6>
                <button class="btn btn-outline-success mb-4" name="show" value={{s.id}}>Karte reservieren</button>
                {% endif %}
            {% endfor %}
      </div>
      </div>
  </div>
    </div>
            {% endfor %}
    </form>
{% endblock content %}
