body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h4, h5, h6 {
  color: #444444;
}

h3 {
  color: #fafafa
  background: rgba(0,0,0,0.4);
}

.bg-steel {
  background-color: #341d8c;
}

.navbar-custom {
            color: red;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

