{% extends "layout.html" %}
{% block content %}
    <h1>Registrierung</h1>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Willkommen bei Opera Mahera </legend>
            <div class="form-group">
                {{ form.first_name.label(class="form-control-label") }}

                {% if form.first_name.errors %}
                    {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.first_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.first_name(class="form-control form-control-lg") }}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.last_name.label(class="form-control-label") }}
                {% if form.last_name.errors %}
                    {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.last_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.last_name(class="form-control form-control-lg") }}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.zip_code.label(class="form-control-label") }}
                {% if form.zip_code.errors %}
                    {{ form.zip_code(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.zip_code.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.zip_code(class="form-control form-control-lg") }}
                {% endif %}

            </div>
            <div class="form-group">
                {{ form.city.label(class="form-control-label") }}
                {% if form.city.errors %}
                    {{ form.city(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.city.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.city(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.street.label(class="form-control-label") }}
                {% if form.street.errors %}
                    {{ form.street(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.street.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.street(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.house_number.label(class="form-control-label") }}
                {% if form.house_number.errors %}
                    {{ form.house_number(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.house_number.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.house_number(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.landline.label(class="form-control-label") }}
                {{ form.landline(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.phone_number.label(class="form-control-label") }}
                {{ form.phone_number(class="form-control form-control-lg") }}
            </div>
            <div class="border-bottom mb-4 mt-4"></div>
            <div class="form-group mb-2">
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control form-control-lg") }}
            </div>
            <div class="form-group mb-4">
                {{ form.confirm_password.label(class="form-control-label") }}
                {{ form.confirm_password(class="form-control form-control-lg") }}
            </div>
        </fieldset>
        <div class="form-group mb-2" align="center">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>

        <div class="text-center">
            <small class="text-muted">
        Sie haben bereits einen Account? <a class="ms-2" href="{{ url_for('login') }}">Einloggen</a>
            </small>
        </div>
    </form>
</div>
{% endblock content %}